<p><span>Id: </span><%=@student.id %></p>
<p><span>Name: </span><%=@student.name %></p>
<p><span>Email: </span><%=@student.email %></p>
<p><span>Phone: </span><%=@student.phone %></p>
<p><span>Tuition Paid?: </span><%=@student.tuition_paid %></p>

<%= link_to "Edit Student", edit_student_path(@student) %>
